<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История запросов</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            position: relative;
        }
        .container {
            text-align: center;
            width: 100%;
            max-width: 600px;
            overflow-y: auto;
            max-height: 80vh;
        }
        .header {
            font-size: 2em;
            margin-bottom: 20px;
        }
        .buttons {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .buttons a {
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            display: block;
            margin: 5px 0;
            width: 100%;
            box-sizing: border-box;
            background-color: #007BFF;
        }
        .buttons a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        История запросов
    </div>
    <div class="buttons">
        {{range .}}
        <a href="/visualizer/data/item/{{.RequestID}}">{{.CreatedAt.Format "02-01-2006 15:04:05"}}</a>
        {{end}}
    </div>
</div>
</body>
</html>
