<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        form {
            width: 300px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
    <script>
        function validateForm() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;

            if (!emailPattern.test(email)) {
                alert('Введите корректный email');
                return false;
            }

            if (password.length < 8 || password.length > 72) {
                alert('Пароль должен быть не короче 8 символов и не длиннее 72 символов');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<form action="/login" method="post" onsubmit="return validateForm()">
    <h2>Авторизация</h2>
    <label for="email">Email:</label>
    <input type="hidden" name="originalPath" value="{{.OriginalPath}}">
    <input type="text" id="email" name="email" placeholder="example@domain.com" required>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" placeholder="Минимум 8 символов" required>
    <input type="submit" value="Отправить">
</form>
</body>
</html>
