<html lang="ru">
    <head>
        <style>
            .container {
                display: flex;
                justify-content: space-between;
            }
            .column {
                flex-basis: 48%;
                margin-top: 20px;
            }
            .img-container {
                text-align: center;
            }
            table {
                width: 70%;
                border-collapse: collapse;
            }
            th,
            td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
        <title>Полученные значения</title>
    </head>
    <body>
        <div class="container">
            <div class="column">
                <h1>Статическая модель</h1>
                <div class="img-container">
                    <img
                        src="data:image/png;base64,{{.EncodedStaticImage}}"
                        alt="encoded static image"
                    />
                </div>
                <table>
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                    <tr>
                        <td>Время статической модели</td>
                        <td>{{.StaticTotalTime}}</td>
                    </tr>
                    <tr>
                        <td>Расходы статической модели</td>
                        <td>{{.StaticTotalExpenses}}</td>
                    </tr>
                    <tr>
                        <td>Количество курьеров статической модели</td>
                        <td>{{.StaticCouriersCount}}</td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <h1>Динамическая модель</h1>
                <div class="img-container">
                    <img
                        src="data:image/png;base64,{{.EncodedDynamicImage}}"
                        alt="encoded dynamic image"
                    />
                </div>
                <table>
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                    <tr>
                        <td>Время динамической модели</td>
                        <td>{{.DynamicTotalTime}}</td>
                    </tr>
                    <tr>
                        <td>Расходы динамической модели</td>
                        <td>{{.DynamicTotalExpenses}}</td>
                    </tr>
                    <tr>
                        <td>
                            Задействованное число курьеров динамической модели
                        </td>
                        <td>{{.DynamicOptimalCouriersCount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
