<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обработка завершена</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        .container {
            text-align: center;
        }
        .message {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .button {
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
            display: inline-block;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="message">Обработка данных завершена! Перейдите...</div>
    <div class="buttons">
        <a href="{{.VisualizationURL}}" class="button">Для визуализации данных</a>
        <a href="{{.DownloadCSVURL}}" class="button">Для загрузки результатов в формате CSV</a>
        <a href="{{.SendEmailCSVURL}}" class="button">Для отправки данных в формате CSV на ваш email</a>
    </div>
</div>
</body>
</html>
